
/* ===================================================================
 * # contact
 *
 * ------------------------------------------------------------------- */
.s-contact {
  padding-top: 21rem;
  padding-bottom: 10.2rem;
  background-color: #111111;
  color: rgba(255, 255, 255, 0.3);
  position: relative;
}
.s-contact a {
  color: #ffffff;
  border-bottom: 1px solid transparent;
  display: inline-block;
}
.s-contact a:hover,
.s-contact a:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.contact-main {
  margin-top: 14.4rem;
  margin-bottom: 4.8rem;
}

.contact-email {
  display: inline-block;
  font-family: "metropolis-light", sans-serif;
  font-size: 5.4rem;
  line-height: 1.222;
  color: #ffffff;
  padding-top: 3.6rem;
  position: relative;
}
.contact-email::before {
  content: "";
  display: block;
  height: 1px;
  width: 60px;
  background-color: #cc147f;
  position: absolute;
  top: 0;
  left: 0;
}

.contact-number {
  font-family: "metropolis-light", sans-serif;
  font-size: 3rem;
  line-height: 1.7;
  display: block;
}

.contact-address {
  font-family: "metropolis-regular", sans-serif;
  font-size: 2.8rem;
  line-height: 1.607;
  margin-top: 2.4rem;
}


/* -------------------------------------------------------------------
 * ## contact social
 * ------------------------------------------------------------------- */
.contact-social {
  list-style: none;
  display: inline-block;
  margin: 0 0 0 0.3rem;
  font-size: 3rem;
}
.contact-social li {
  margin-right: 15px;
  padding-left: 0;
  display: inline-block;
}
.contact-social li a {
  color: rgba(255, 255, 255, 0.3);
  border: none !important;
}
.contact-social li a:hover,
.contact-social li a:focus {
  color: #ffffff;
}
.contact-social li:last-child {
  margin: 0;
}


/* -------------------------------------------------------------------
 * ## subscribe
 * ------------------------------------------------------------------- */
.contact-subscribe {
  margin: 0;
  padding: 0;
  position: relative;
}

.mc-form {
  margin-top: 2.1rem;
  width: 100%;
}
.mc-form input[type="email"] {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 5.4rem;
  padding: 1.2rem 150px 1.2rem 20px;
  margin-bottom: 1.8rem;
  border: none;
}
.mc-form input[type="email"]:focus {
  color: #ffffff;
}
.mc-form input[type="email"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}
.mc-form input[type="email"]:-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
  /* Firefox 18- */
}
.mc-form input[type="email"]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
  /* Firefox 19+ */
}
.mc-form input[type="email"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}
.mc-form input[type="email"].placeholder {
  color: rgba(255, 255, 255, 0.2) !important;
}
.mc-form input[type="submit"] {
  color: #ffffff;
  background: #cc147f;
  border-color: #cc147f;
  padding: 0 15px;
  position: absolute;
  top: 0;
  right: 0;
}
.mc-form label {
  color: #ffffff;
  font-family: "metropolis-semibold", sans-serif;
  font-size: 1.3rem;
  padding: 0 2rem;
}
.mc-form label i {
  padding-right: 6px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 27.5px;
  align-items: stretch;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img {
  max-width: 100%;
}

.grid .text {
  padding: 20px;
}

.heading {
  text-decoration: underline;
  text-align: center;
  padding-bottom: 10px;
}

.unstyled-list{
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  align-content: flex-start;
  font-size: 1.2em;
  padding-bottom: 10px;
}

.blog-title{
  padding-bottom: 20px;
  text-align: center;
  text-decoration: underline;
}